<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Asparagus2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Asparagus2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="libs/bootstrap-reboot.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="libs/bootstrap-grid.min.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.gstatic.com" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet" asp-append-version="true" />

</head>
<body>
    <header>


     <nav class="navbar">
  <div class="container">
    <a href="#" class="navbar-brand">ASPARAGUS</a>

    <div class="navbar-wrap">
      <ul class="navbar-menu">
        <li><a href="/">Home</a></li>
        <li><a href="Home/Privacy">News feed</a></li>
        <li><a href="Home/Contacts">Contacts</a></li>
      </ul>

         <a href="#popup" class="callback">Callback</a>
    </div>
  </div>
</nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="cont_my2">
            @RenderBody()
            </div>
            <div id="popup-container">
                @await Html.PartialAsync("Popup")
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Asparagus2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
