<div class="content">
    <div class="item item-big">
        <p class="item__date">NOVEMBER 28, 2022</p>
        <h2 class="item_heading item__heading_white">
            FANTASTIC DESIGNS OF 2022 CONCEPT CARS
        </h2>
    </div>
    <div class="item">
        <img src="~/css/img/Layer 2.png" />
        <div class="item__text">
            <p class="item__date">November 24, 2022</p>
            <h2 class="item_heading">
                HOW TO FIND DESIGN INSPIRATION IN THE SIMPLE THINGS AROUND YOU
            </h2>
        </div>
    </div>
    <div class="item">
        <img src="/css/img/Layer 5.png" />
        <div class="item__text">
            <p class="item__date">November 24, 2022</p>
            <h2 class="item_heading">
                HOW TO FIND DESIGN INSPIRATION IN THE SIMPLE THINGS AROUND YOU
            </h2>
        </div>
    </div>
    <div class="item">
        <img src="/css/img/Layer 7.png" />
        <div class="item__text">
            <p class="item__date">November 24, 2022</p>
            <h2 class="item_heading">
                HOW TO FIND DESIGN INSPIRATION IN THE SIMPLE THINGS AROUND YOU
            </h2>
        </div>
    </div>
    <div class="item">
        <img src="/css/img/Layer 9.png" />
        <div class="item__text">
            <p class="item__date">November 24, 2022</p>
            <h2 class="item_heading">
                HOW TO FIND DESIGN INSPIRATION IN THE SIMPLE THINGS AROUND YOU
            </h2>
        </div>
    </div>
</div>