<div id="popup" class="popup">
    <div class="popup_body">
        <div class="popup_content">
            <a href="#" class="popup_close">X</a>
            <div class="popup_title">CALL BACK</div>
            <div class="popup_text">
                Would you like me to call you back right now?
            </div>

            <form method="post" action="/Home/Popup">
            <div class="form-group">
                <input type="text" name="Phone" class="form-control" required />
                <label for="phone">Phone</label>
            </div>
            <div class="text-center">
                <button type="submit" class="btn-main">Send</button>
            </div>
            </form>

        </div>
    </div>
</div>