@model List<User>
<h2>News</h2>
@foreach (var user in Model)
{
    <div>
        <p>@user.DateTime.ToString("HH:mm") @user.DateTime.ToString("dd.MM.yyyy") @user.Name ел спаржу уже @user.CountEat раз</p>
    </div>
}

