html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.form-group {
    position: relative;
    margin-bottom: 10px; /*відстань між полями вводу*/
}

.form-control {
    width: 100%;
    display: block;
    border: 1px solid#ddd;
    border-radius: 3px;
    padding: 9px 10px;
    font-size: 14px;
    transition: all 0.09s ease-out;
    background-color: #fff;
}

label {
    display: block;
    position: absolute;
    top: 9px;
    left: 10px;
    cursor: text;
    font-size: 14px;
    background-color: #fff;
    transition: all 0.09s ease-out;
}

.form-control:focus {
    outline: none;
    border-color: coral;
    box-shadow: 0 0 5px rgba(255, 127, 80, 0.6);
}

    .form-control:focus ~ label {
        top: -9px;
        color: coral;
        font-size: 12px;
    }

.form-control:valid ~ label {
    top: -9px;
    font-size: 12px;
}

.btn-main {
    display: inline-block;
    text-decoration: none;
    padding: 10px 25px;
    font-size: 14px;
    color: #fff;
    background-color: coral;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-main:hover {
        color: #fff;
    }

.text-center {
    text-align: center; /*center a button*/
    padding: 20px;
}

.col-lg-4 {
    width: 400px;
    position:absolute;
    left: 0;
    right:0;
    margin: 0 auto;
    border-radius:10px;
    border:solid;
    border-color:darksalmon;
    

}
    .col-lg-4:hover {
        box-shadow: 0 0 5px rgba(255, 127, 80, 0.6);
    }

.news-item {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
}

.news-item-odd {
    background-color: #ffffff;
}

/*popup*/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}

    .popup:target {
        opacity: 1;
        visibility: visible;
    }

        .popup:target .popup_content {
            transform: (0px, 0px);
            opacity: 1;
        }

.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup_content {
    background-color: #fff;
    color: #000;
    max-width: 800px;
    padding: 30px;
    position: relative;
    border-radius: 10px;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: (0px, -100%);
}

.popup_close {
    position: absolute;
    right: 10px;
    top: 4px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.popup_title {
    font-size: 40px;
    margin: 0px 0px 1em 0px;
    text-align: center;
}

.popup_text {
    padding-bottom: 20px;
}

/*content*/
body {
    background: #e2e7ec;
}
.content {
    max-width: 1140px;
    margin: 0 auto; /*center content*/
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-gap: 20px;
    justify-content: center;
}

.item {
    height: 540px;
    background: #ffffff;
}

.item-big {
    grid-column: 1/-2;
    background-image: url('img/img big.png');
    /*padding: 48px;*/
    display: grid;
    align-content: end;
}

.item__date {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #818181;
    margin-left: 10px;
}

.item_heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: #1d1d1d;
}

.item__heading_white {
    color: white;
}

h2 {
    margin-left: 10px;
}
