/* _content/Asparagus2/Views/Shared/_Layout.cshtml.rz.scp.css */

a.navbar-brand[b-yryvke1a0a] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-yryvke1a0a] {
  color: #0077cc;
}

.btn-primary[b-yryvke1a0a] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-yryvke1a0a], .nav-pills .show > .nav-link[b-yryvke1a0a] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-yryvke1a0a] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-yryvke1a0a] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-yryvke1a0a] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-yryvke1a0a] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-yryvke1a0a] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}



/*меню*/

.navbar[b-yryvke1a0a] {
  /*шапкa сайту*/
  width: 100%;
  height: 70px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.navbar .container[b-yryvke1a0a] {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu[b-yryvke1a0a] {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.navbar-menu li[b-yryvke1a0a] {
  display: inline-block;
}

.navbar-menu li a[b-yryvke1a0a] {
  display: inline-block;
  color: #000;
  opacity: 0.6;
  text-decoration: none;
  padding: 10px;
  transition: all 0.08s ease-in-out; /*задержка при наведении на кнопку меню*/
}

.navbar-menu li a:hover[b-yryvke1a0a] {
  opacity: 1;
}
/*все в одну лінію*/
.navbar-wrap[b-yryvke1a0a] {
  display: flex;
  flex-flow: row nowrap;
}
.callback[b-yryvke1a0a] {
  margin-left: 30px;
  padding: 10px 30px;
  background-color: coral;
  border-radius: 100px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(255, 127, 80, 0.2);
  transition: all 0.1s ease-in-out; /*замедление увеличения кнопки*/
}
.callback:hover[b-yryvke1a0a] {
  transform: scale(1.04); /*увеличение кнопки при наведении*/
  color: #fff;
  box-shadow: 0 9px 9px rgba(255, 127, 80, 0.5);
}

.navbar-brand[b-yryvke1a0a] {
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #000;
  transition: all 0.15s ease-in-out;
}

.navbar-brand:hover[b-yryvke1a0a] {
  color: coral;
}

.cont_my2[b-yryvke1a0a] {
max-width: 500px;
margin-left: auto;
margin-right: auto;
}


